Repository mikke89/RmlUi, pull requests merged in 2022-12, with the labels that each got.

#385 Vulkan renderer: Hot fix about depth/stencil rendering.
  Backends/RmlUi_Renderer_VK.cpp
Labels: backends

#386 Add Lua bindings to SetDensityIndependentPixelRatio/GetDensityIndependentPixelRatio (as an attribute)
  Source/Lua/Context.cpp
  Source/Lua/Context.h
Labels: enhancement, Lua

#394 feat(cmake): create library alias
  CMakeLists.txt
Labels: build

#395 feat(cmake): disable export targets when rmlui as a subproject
  CMakeLists.txt
Labels: build
