Repository mikke89/RmlUi, pull requests merged in 2023-03, with the labels that each got.

#397 misc cmake update
  .editorconfig
  CMakeLists.txt
Labels: build

#421 Basic animation support for decorators.
  Include/RmlUi/Core/PropertySpecification.h
  Include/RmlUi/Core/StyleSheet.h
  Include/RmlUi/Core/StyleSheetTypes.h
  Source/Core/ElementAnimation.cpp
  Source/Core/ElementDecoration.cpp
  Source/Core/PropertyParserDecorator.cpp
  Source/Core/PropertySpecification.cpp
  Source/Core/StyleSheet.cpp
  Source/Core/TypeConverter.cpp
  Tests/Source/Common/TestsInterface.cpp
  Tests/Source/Common/TestsInterface.h
  Tests/Source/Common/TestsShell.cpp
  Tests/Source/Common/TestsShell.h
  Tests/Source/UnitTests/Animation.cpp
Labels: enhancement

#409 Support explicit DataTypeRegister setup for DataModel.
  Include/RmlUi/Core/Context.h
  Include/RmlUi/Core/DataModelHandle.h
  Source/Core/Context.cpp
  Source/Core/DataModel.cpp
  Source/Core/DataModel.h
  Source/Core/DataModelHandle.cpp
  Tests/Source/Benchmarks/DataExpression.cpp
  Tests/Source/UnitTests/DataExpression.cpp
  Tests/Source/UnitTests/DataModel.cpp
Labels: data binding

#434 Lua plugin: Add selection API to text input elements
  Source/Lua/Elements/ElementFormControlInput.cpp
  Source/Lua/Elements/ElementFormControlInput.h
  Source/Lua/Elements/ElementFormControlTextArea.cpp
  Source/Lua/Elements/ElementFormControlTextArea.h
Labels: Lua

#430 Fix various GLFW Vulkan Linux issues
  Backends/RmlUi_Renderer_VK.cpp
  Backends/RmlUi_Renderer_VK.h
Labels: backends

#435 Lua plugin: Fix selection API using 0-based indices
  Source/Lua/Elements/ElementFormControlInput.cpp
  Source/Lua/Elements/ElementFormControlTextArea.cpp
Labels: Lua
