Repository mikke89/RmlUi, pull requests merged in 2023-02, with the labels that each got.

#387 LuaPlugin: LuaJit support
  .github/workflows/build.yml
  CMake/FindLuaJIT.cmake
  CMakeLists.txt
  Include/RmlUi/Lua/Utilities.h
  Source/Lua/Utilities.cpp
Labels: Lua, build

#413 Add method to retrieve the DataTypeRegister during model binding.
  Include/RmlUi/Core/DataModelHandle.h
Labels: data binding

#418 Fix clashing MakeUnique name coming from user code.
  Include/RmlUi/Core/DataStructHandle.h
Labels: build

#420 Fix another case of clashing MakeUnique name coming from user code.
  Include/RmlUi/Core/DataModelHandle.h
  Include/RmlUi/Core/DataTypeRegister.h
Labels: build
