Repository mikke89/RmlUi, pull requests merged in 2023-05, with the labels that each got.

#459 Fix XML parse error if single curly brace encountered at the end of a data binding string literal
  Source/Core/XMLParseTools.cpp
  Tests/Source/UnitTests/DataBinding.cpp
Labels: data binding

#465 Fix clipboard being pasted when Ctrl + Alt + V key combination is used
  Source/Core/Elements/WidgetTextInput.cpp
Labels: internationalization

#466 Lua plugin: Add StopImmediatePropagation to Rml::Event
  Source/Lua/Event.cpp
  Source/Lua/Event.h
Labels: Lua
