Repository mikke89/RmlUi, pull requests merged in 2023-04, with the labels that each got.

#436 On-demand rendering (power saving mode)
  Backends/RmlUi_Backend.h
  Backends/RmlUi_Backend_GLFW_GL2.cpp
  Backends/RmlUi_Backend_GLFW_GL3.cpp
  Backends/RmlUi_Backend_GLFW_VK.cpp
  Backends/RmlUi_Backend_SDL_GL2.cpp
  Backends/RmlUi_Backend_SDL_GL3.cpp
  Backends/RmlUi_Backend_SDL_SDLrenderer.cpp
  Backends/RmlUi_Backend_SDL_VK.cpp
  Backends/RmlUi_Backend_SFML_GL2.cpp
  Backends/RmlUi_Backend_Win32_GL2.cpp
  Backends/RmlUi_Backend_Win32_VK.cpp
  Backends/RmlUi_Backend_X11_GL2.cpp
  Backends/RmlUi_Renderer_VK.cpp
  Backends/RmlUi_Renderer_VK.h
  Include/RmlUi/Core/Context.h
  Include/RmlUi/Core/Element.h
  Include/RmlUi/Lottie/ElementLottie.h
  Samples/basic/bitmapfont/src/main.cpp
  Samples/basic/demo/src/main.cpp
  Samples/basic/drag/src/main.cpp
  Samples/basic/loaddocument/src/main.cpp
  Samples/basic/lottie/src/main.cpp
  Samples/basic/svg/src/main.cpp
  Samples/basic/treeview/src/main.cpp
  Samples/tutorial/datagrid/src/main.cpp
  Samples/tutorial/datagrid_tree/src/main.cpp
  Samples/tutorial/drag/src/main.cpp
  Samples/tutorial/template/src/main.cpp
  Source/Core/Context.cpp
  Source/Core/Element.cpp
  Source/Core/Elements/WidgetSlider.cpp
  Source/Core/Elements/WidgetTextInput.cpp
  Source/Core/ScrollController.cpp
  Source/Core/ScrollController.h
  Source/Core/WidgetScroll.cpp
  Source/Lottie/ElementLottie.cpp
Labels: enhancement

#429 Add `letter-spacing` property to RCSS
  Include/RmlUi/Core/ComputedValues.h
  Include/RmlUi/Core/FontEngineInterface.h
  Include/RmlUi/Core/ID.h
  Samples/basic/bitmapfont/src/FontEngineInterfaceBitmap.cpp
  Samples/basic/bitmapfont/src/FontEngineInterfaceBitmap.h
  Source/Core/ComputedValues.cpp
  Source/Core/ElementStyle.cpp
  Source/Core/ElementText.cpp
  Source/Core/ElementUtilities.cpp
  Source/Core/FontEngineDefault/FontEngineInterfaceDefault.cpp
  Source/Core/FontEngineDefault/FontEngineInterfaceDefault.h
  Source/Core/FontEngineDefault/FontFaceHandleDefault.cpp
  Source/Core/FontEngineDefault/FontFaceHandleDefault.h
  Source/Core/FontEngineInterface.cpp
  Source/Core/StyleSheetSpecification.cpp
  Tests/Data/VisualTests/letter_spacing.rml
Labels: enhancement, layout

#445 Add variable definition for enum types
  .gitignore
  Include/RmlUi/Core/DataTypeRegister.h
  Include/RmlUi/Core/Variant.h
  Include/RmlUi/Core/Variant.inl
  Tests/Source/UnitTests/DataBinding.cpp
  Tests/Source/UnitTests/Variant.cpp
Labels: enhancement, data binding

#449 Make sure existing OpenGL state is respected.
  Backends/RmlUi_Renderer_GL3.cpp
  Backends/RmlUi_Renderer_GL3.h
Labels: backends
