Repository mikke89/RmlUi, pull requests merged in 2024-01, with the labels that each got.

#563 Add attributes and properties for language and direction
  CMake/FileList.cmake
  Include/RmlUi/Core.h
  Include/RmlUi/Core/ComputedValues.h
  Include/RmlUi/Core/FontEngineInterface.h
  Include/RmlUi/Core/ID.h
  Include/RmlUi/Core/StyleTypes.h
  Include/RmlUi/Core/TextShapingContext.h
  Samples/basic/bitmapfont/src/FontEngineInterfaceBitmap.cpp
  Samples/basic/bitmapfont/src/FontEngineInterfaceBitmap.h
  Source/Core/Element.cpp
  Source/Core/ElementStyle.cpp
  Source/Core/ElementText.cpp
  Source/Core/ElementUtilities.cpp
  Source/Core/FontEngineDefault/FontEngineInterfaceDefault.cpp
  Source/Core/FontEngineDefault/FontEngineInterfaceDefault.h
  Source/Core/FontEngineInterface.cpp
  Source/Core/StyleSheetSpecification.cpp
  Tests/Source/UnitTests/Localization.cpp
Labels: enhancement, internationalization

#564 add support for the `not` prefix in media queries
  Include/RmlUi/Core/StyleSheetTypes.h
  Source/Core/StyleSheetContainer.cpp
  Source/Core/StyleSheetParser.cpp
  Source/Core/StyleSheetParser.h
  Tests/Source/UnitTests/MediaQuery.cpp
Labels: enhancement

#573 Add `Rml::Element::Matches` function
  Include/RmlUi/Core/Element.h
  Source/Core/Element.cpp
  Source/Lua/Element.cpp
  Source/Lua/Element.h
  Tests/Source/UnitTests/Selectors.cpp
Labels: enhancement

#559 Compute shrink-to-fit width for flex blocks
  Source/Core/Layout/ContainerBox.cpp
  Source/Core/Layout/FlexFormattingContext.cpp
  Source/Core/Layout/FlexFormattingContext.h
  Source/Core/Layout/LayoutDetails.cpp
Labels: enhancement, layout

#568 Create text shaper sample project
  CMake/Modules/FindHarfBuzz.cmake
  CMake/SampleFileList.cmake
  CMake/gen_samplelists.sh
  CMakeLists.txt
  Samples/basic/harfbuzzshaping/data/Cairo-Regular.ttf
  Samples/basic/harfbuzzshaping/data/LICENSE.txt
  Samples/basic/harfbuzzshaping/data/Poppins-Regular.ttf
  Samples/basic/harfbuzzshaping/data/harfbuzzshaping.rml
  Samples/basic/harfbuzzshaping/src/FontEngineInterfaceHarfBuzz.cpp
  Samples/basic/harfbuzzshaping/src/FontEngineInterfaceHarfBuzz.h
  Samples/basic/harfbuzzshaping/src/FontFace.cpp
  Samples/basic/harfbuzzshaping/src/FontFace.h
  Samples/basic/harfbuzzshaping/src/FontFaceHandleHarfBuzz.cpp
  Samples/basic/harfbuzzshaping/src/FontFaceHandleHarfBuzz.h
  Samples/basic/harfbuzzshaping/src/FontFaceLayer.cpp
  Samples/basic/harfbuzzshaping/src/FontFaceLayer.h
  Samples/basic/harfbuzzshaping/src/FontFamily.cpp
  Samples/basic/harfbuzzshaping/src/FontFamily.h
  Samples/basic/harfbuzzshaping/src/FontGlyph.h
  Samples/basic/harfbuzzshaping/src/FontProvider.cpp
  Samples/basic/harfbuzzshaping/src/FontProvider.h
  Samples/basic/harfbuzzshaping/src/FreeTypeInterface.cpp
  Samples/basic/harfbuzzshaping/src/FreeTypeInterface.h
  Samples/basic/harfbuzzshaping/src/LanguageData.h
  Samples/basic/harfbuzzshaping/src/main.cpp
  Samples/readme.md
  readme.md
Labels: enhancement, samples, internationalization

#579 Replace deprecated VkDebugReportCallbackEXT with VkDebugUtilsMessengerEXT
  Backends/RmlUi_Renderer_VK.cpp
  Backends/RmlUi_Renderer_VK.h
Labels: backends

#550 Dynamic databinding variable expressions
  Source/Core/DataExpression.cpp
  Tests/Source/UnitTests/DataBinding.cpp
Labels: enhancement, data binding

#574 Use string parser for sprite sheet src property
  Source/Core/StyleSheetParser.cpp
  Tests/Source/UnitTests/StyleSheetParser.cpp
Labels: enhancement

#585 Add space-evenly property value for justify-content and align-content
  Include/RmlUi/Core/StyleTypes.h
  Source/Core/Layout/FlexFormattingContext.cpp
  Source/Core/StyleSheetSpecification.cpp
  Tests/Tools/convert_css_test_suite_to_rml.py
Labels: enhancement, layout

#588 Fix broken HarfBuzz sample licence link
  readme.md
Labels: documentation
